.container {
    width: 600px;
}

.cell {
    border: 2px solid black;
    height: 200px;
    width: 200px;
    text-align: center;
    color: light-grey;
    font-size: 130px;
    cursor: pointer;
}

.top-row {
    border-top: none;

}

.bottom-row {
    border-bottom: none;

}

.left-row {
    border-left: none;
}

.right-row {
    border-right: none;
}

.messages {
    text-align: center;
}

h1 {
    text-align: center;
}